/* Add your Home component styles here */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.intro {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
  

.division {
  flex: 1;
  margin: 10px;
  padding: 10px;
  color: chocolate;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
}

/* Home.css */

.Home {
  text-align: center;
}

.header {
  position: relative;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  height: 60px; /* Adjust the height to reduce the size */
  width: auto;  /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust the margin as needed */
}

.content {
  margin-top: 20px;
}

.division {
  margin: 20px;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #f1f1f1;
}


.slider {
  width: 100%;
  height: auto;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the slide area */
}